{% load i18n %}{% autoescape off %}
{% blocktrans with site_name="OpenSrc Persian" %}You're receiving this email because a password reset was requested for your account at {{ site_name }}.{% endblocktrans %}

{% trans "Please copy the link below into your browser to set a new password:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "This link is valid for 24 hours." %}

{% trans "If you did not request a password reset, you can ignore this email — your password has not been changed." %}
{% endautoescape %}
